.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 32px;
  flex: 1;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 30px;
  color: #101213;
  margin-bottom: 1%;
  margin-top: 3%;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 16px;
  margin-bottom: 1%;
  color: #4f575e;
}

.cardContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}